.paramBlock {
  position: fixed;
  bottom: 5rem;
  right: unset;
  left: 0;
  background-color: #444;
  display: flex;
  align-items: center;
  transition: 0.4s ease-out;

  label.radioGroup{
    border: none;
    border-right: 0.05rem solid #000;
    color: #fff;
    padding: 0 0.25rem;
width:2rem;
  }

  input[type=number] {
    background-color: #777;
    border: none;
    border-right: 0.05rem solid #000;
    color: #fff;
    padding-left: 0.5rem;
    width: 5rem;
    height:2rem;
  }

  input[type=file] {
    border: none;
    border-right: 0.05rem solid #000;
    color: #fff;
    padding-left: 0.25rem;
    width: 14rem;
  }

  button.paramBlock-apply {
    background-color: #444;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    border-right: 0.05rem solid #000;
    width: 3rem;
    height:2rem;

    &:disabled{
      background-color: #330307;
    }
  }

  .minimizedParam {
    flex: 0 0 2rem;

    input[type=checkbox] {
      display: none;
    }

    label[for='minimizedParam'] {
      cursor: pointer;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow {
        cursor: pointer;
        display: block;
        width: 2rem;
        height: 2rem;
        transform: rotateZ(0turn);
        transform-origin: center;
        transition: 0.4s ease-out;

        path {
          fill: #444;
          stroke: #fff;
          stroke-dasharray: 23;
          stroke-dashoffset: 1;
        }
      }
    }
  }
}

.paramBlock-minimized {
  right: calc(100% - 2rem);
  left: unset;

  .minimizedParam {
    label[for='minimizedParam'] {
      .arrow {
        transform: rotateZ(1.5turn);
      }
    }
  }
}