.card {
  a {
    text-decoration-line: none;
    width: 100%;
    height: 100%;
  }

  .title {
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 1rem;
    height: 4rem;
    text-transform: capitalize;
    text-align: left;
  }

  .bar {
    margin: 0 calc(4rem - 10%) 0 1.5rem;
    height: 0.3rem;
  }

  .empty-bar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }

  .filled-bar {
    position: relative;
    top: -0.3rem;
    z-index: 3;
    width: 0;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
  }

  &:hover .filled-bar {
    width: 80%;
    transition: 0.4s ease-out;
  }

  svg {
    margin: 1rem auto;
    display: block;
    justify-content: center;
    align-items: center;

    & > {
      opacity: 0.8;
    }

    .fillBlack {
      fill: #000;
    }

    .fillRed {
      fill: #d82f2f;
    }

    .fillWhite {
      fill: #fff;
    }

    .fillGray {
      fill: #777;
    }
  }

  .stroke {
    stroke: #fff;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: 0.5s ease-out;
  }

  &:hover .stroke {
    opacity: 1;
    stroke-dashoffset: 0;
    transition: 0.4s ease-out;
  }
}
