.algorithms-list {
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2rem;

  li {
    list-style-type: none;
  }

  .card {
    display: flex;
    height: 20rem;
    width: 15rem;
    min-width: 15rem;
    background-color: #444;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #222;
    transition: 0.4s ease-out;
    position: relative;
    left: 0;

    &:hover {
      transform: translateY(-1.3rem);
      transition: 0.4s ease-out;
    }

    &:hover ~ .card {
      position: relative;
      left: 3rem;
      transition: 0.4s ease-out;
    }

    &:not(:first-child){
      margin-left: -3rem;
    }
  }
}