.scriptBlock {
  color: #fff;
  position: fixed;
  bottom: 7rem;
  right: 0;
  max-height: 37rem;
  background-color: #444;
  display: flex;
  transition: 0.4s ease-out;

  .minimizedScript {
    flex: 0 0 2rem;

    input[type=checkbox] {
      display: none;
    }

    label[for='minimizedScript'] {
      cursor: pointer;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow {
        cursor: pointer;
        display: block;
        width: 2rem;
        height: 2rem;
        transform: rotateZ(0.5turn);
        transform-origin: center;
        transition: 0.4s ease-out;

        path {
          fill: #444;
          stroke: #fff;
          stroke-dasharray: 23;
          stroke-dashoffset: 1;
        }
      }
    }
  }

  ul {
    border-left: 0.05rem solid #000;
    padding-left: 0.5rem;
    overflow: auto;
    width: 27rem;
    flex: 1;
    margin: 0;
    text-decoration-line: none;

    li {
      list-style-type: none;
      font-size: 0.9rem;
      padding-top: 0.05rem;
      padding-bottom: 0.05rem;
      padding-right: 0.1rem;
    }

    li:first-child {
      padding-top: 0.1rem;
    }

    li:last-child {
      padding-bottom: 0.1rem;
    }

    li.active {
      background-color: #777;
    }
  }
}

.scriptBlock-minimized {
  right: -27.6rem;

  .minimizedScript {
    label[for='minimizedScript'] {
      .arrow {
        transform: rotateZ(-1turn);
      }
    }
  }
}