.card {
  width: 260px;
  height: 340px;
  cursor: pointer;
  color:black;
  display: block;

  &:hover {
    .front {
      transform: perspective(6000px) rotateY(-180deg);
    }

    .back {
      transform: perspective(6000px) rotateY(0);
    }
  }

  .front,
  .back {
    background-color: gray;
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform .5s ease;
    border-radius: 10px;

    h2{
      text-align: center;
      font-size: 1.5em;
      text-transform: capitalize;
    }
  }

  .front {
    transform: perspective(6000px) rotateY(0);
    background: linear-gradient(45deg, #d585ff, #00ffee);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .back {
    transform: perspective(6000px) rotateY(180deg);
    background: linear-gradient(45deg, #d585ff, #00ffee);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content{
      padding:7px 10px;

      p{
        font-weight: normal;
        text-align: justify;
        font-size: .9em;
      }
    }
  }
}