.extra-links {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  li {
    list-style-type: none;

    a {
      text-transform: capitalize;
      color: #fff;
    }
  }
}
