.lang-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0 10px;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;

      &:hover,
      &.active {
        text-decoration-line: underline;
      }
    }
  }
}