.functionsBlock {
  position: fixed;
  bottom: 10rem;
  left: 0;
  background-color: #444;
  display: flex;
  transition: 0.4s ease-out;

  ul {
    width: 13rem;
    flex: 1;
    margin: 0;
    text-decoration-line: none;
    padding: 0;

    .method {
      color: #fff;
      list-style-type: none;
      border-bottom: 0.05rem solid #000;
      border-right: 0.05rem solid #000;

      input[type=radio] {
        display: none;
      }

      label {
        cursor: pointer;
        display: block;
        padding: 0.5rem 0.1rem 0.5rem 1rem;
      }
    }

    .method:last-child{
      border-bottom: none;
    }

    .method-active {
      background-color: #888;
    }
  }

  .minimizedMethodList {
    flex: 0 0 2rem;

    input[type=checkbox] {
      display: none;
    }

    label[for='minimizedMethodList'] {
      cursor: pointer;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow {
        cursor: pointer;
        display: block;
        width: 2rem;
        height: 2rem;
        transform: rotateZ(0turn);
        transform-origin: center;
        transition: 0.4s ease-out;

        path {
          fill: #444;
          stroke: #fff;
          stroke-dasharray: 23;
          stroke-dashoffset: 1;
        }
      }
    }
  }
}

.functionsBlock-minimized {
  left: -13rem;

  .minimizedMethodList {
    label[for='minimizedMethodList'] {
      .arrow {
        transform: rotateZ(1.5turn);
      }
    }
  }
}