.header {
  display: flex;
  background-color: #444;
  margin: 0;
  padding: 0.33rem 0 0.5rem;

  ul, .extra-links {
    flex: 1;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    margin: 0;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.header-tight {
  height: 1rem;

  h1{
    font-size: 1.5rem;
  }
}