
.icon-play:before { content: '\e800'; } /* '' */
.icon-to-end:before { content: '\e801'; } /* '' */
.icon-fast-fw:before { content: '\e802'; } /* '' */
.icon-fast-bw:before { content: '\e803'; } /* '' */
.icon-to-start:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-stop:before { content: '\e806'; } /* '' */