.stepManagementBlock{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height: 2rem;
  background-color: #444;

  .icon
  {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1rem;
    margin-right: .2rem;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1rem;
    margin-left: .2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}